<% if session[:message] %>
  <p><%= session.delete(:message) %></p>
<% end %>

<ul>
  <% @directory.each do |file_name| %>
    <li>
      <a href="/<%= file_name %>"><%= file_name %></a>
      <a href="/<%= file_name %>/edit">Edit</a>
    </li>
  <% end %>
</ul>

