<form action="/users/sign_in" method="post">
  <div>
    <label for="username">Username</label>
    <input name="username" type="text" value= <%= params[:username] %>>
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" type="password">
  </div>

  <button type="submit">Sign In</button>
</form>
